html {
  width: 100%;
  height: 100%;
  background-image: url("Images/waldemar-brandt-eIOPDU3Fkwk-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


/* Navigation Bar */

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 198, 41, 0.71);
  text-align: center;
}

.nav-bar li {
  /* font-family: ; */
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px;
  padding-right: 30px;
}

.nav-bar a {
  display: block;
  color: black;
  background-color: rgba(255, 198, 41, 0.41);
  border-radius: 30%;
  font-weight: bolder;
  text-decoration: none;
}

.nav-bar a:hover {
  color: red;
  font-size: 1.3rem;
}

.img-nav {
  float: left;
}



/* Header */

.header-h1 {
  font-family: 'Faster One', cursive;
  font-size: 1.2rem;
  text-align: center;
  border: solid 1px black;
  margin: 30px 100px;
  background-color: rgba(0, 0, 0, 0.81);
  overflow: hidden;
  color: white;
}




/* SEARCH FORM */
#search-form {
  text-align: center;
}

.search-crt {
  font-size: larger;
  border: 3px solid black;
  width: 50%;
}





/* HERO INFORMATION */
.hero-container {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  display: flex;
  justify-content: center;
}

.hero-img {
  display: inline-flex;
  width: 300px;
  height: 350px;
  justify-content: center;
  padding-bottom: 30px;
}

.power-stats {
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  font-weight: bolder;
  white-space: pre-line;
  text-align: justify;
  margin: 20px;
  padding: 0 30px;
}

.powerstats-values {
  padding: 0 10px;
}

.show-hero {
  background-color: rgba(223, 221, 221, 0.81);
  margin: 20px;
  margin-bottom: 0;
}